/* CSS Document */

.top_panel{
    background-color:#43A0FF;
    position: absolute;
    left: 0px;
    top: 0px;
    width :701px;
    height :35px;
}

#btn_menu{
    position: absolute;
    left: 560px;
    top: 1px;
}
#btn_min{
    position: absolute;
    left: 591px;
    top: 1px;
}
#btn_max{
    position: absolute;
    left: 624px;
    top: 1px;
}
#btn_restore{
    position: absolute;
    left: 624px;
    top: 1px;    
}

#btn_close{
    position: absolute;
    left: 657px;
    top: 1px;
}

.input_panel{
    position: absolute;
    left: 0px;
    top: 35px;
    width:701px;
	height: 48px;    
    background-color:#F0F0F0;
}

#btn_prev{
    outline:none;
	border:none;
    position: relative;
    left: 10px;
    top: 10px;
	/* width:45px; */
	/* height:37px; */
	/* background:url(../skin/prev_btn.bmp) no-repeat; */
	/* background-position:0px 0px; */
}

/* #btn_prev:disabled{ */
	/* background-position-x: -135px; */
/* } */

#btn_next{
    outline:none;
	border:none;
    position: absolute;
    left: 55px;
    top: 10px;
	/* width:40px; */
	/* height:37px;	 */
	/* background:url(../skin/next_btn.bmp) no-repeat; */
	/* background-position:0px 0px;	 */
}

/* #btn_next:disabled{ */
	/* background-position-x: -120px; */
/* } */

.input_box{
    position: absolute;
    left: 95px;	
    top: 10px;
	width: 486px;
	height: 32px;     
}

/* input:focus { */
    /* border: 0px; */
    /* outline: none; */
    /* background-color:transparent; */
    /* border-style:none; */
/* } */

#btn_del{
    position: absolute;
    left: 436px;	
    top: 1px;
}
#btn_drop{
    position: absolute;
    left: 466px;	
    top: 1px;
}

#btn_lookup{
    position: absolute;
    left: 581px;	
    top: 10px;
}

.main_panel{
    position: absolute;
    display:inline;
    left: 0px;
    top: 83px;
    height: 430px;
    width: 701px;
    margin: auto;
}

.bottom_panel{
    position: absolute;
    left: 0px;
    top: 513px;
    height:35px;
    width:701px;
    background-color:#43A0FF;    
}

#chk_TOPMOST{
    position: absolute;
    left: 585px;
    bottom: 10px;
}

#txt_TOPMOST{
    position: absolute;
    left: 605px;
    bottom: -10px;	
}